<!-- <div class="modal fade" id="itemLookupModal" tabindex="-1" role="dialog" aria-labelledby="itemLookupModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quick Item LookUp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title pull-left">{{title}}</div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <ng-content select=".modal-body">
        </ng-content> -->
        <div class="filter-title">
          <div class="filter-input-text">
            Item Number
          </div>
          <div class="filter-input-text">
            Name
          </div>
          <div class="filter-input-text">
            Item Type
          </div>
          <div class="filter-input-text">
            Product Group
          </div>
          <div class="filter-input-text">
            Sales Price
          </div>
        </div>
        <div class="filter-input">
          <div class="filter-input-text">
            <input type="text" id="flt_itemNumber" class="input-box" name="flt_itemNumber">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_name" class="input-box" name="flt_name">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_itemType" class="input-box" name="flt_itemType">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_prodGroup" class="input-box" name="flt_prodGroup">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_salesPrice" class="input-box" name="flt_salesPrice">
          </div>
        </div>

        <div class="tbl-item">
          <div class="tbl-header">
            <div class="filter-input-text">
              Item Number
            </div>
            <div class="filter-input-text">
              Name
            </div>
            <div class="filter-input-text">
              Item Type
            </div>
            <div class="filter-input-text">
              Product Group
            </div>
            <div class="filter-input-text">
              Sales Price
            </div>
          </div>
          <div class="tbl-row">
            <div class="row" *ngFor="let data of objItem">
              <div class="filter-input-row">
                {{data.productInfo[0].itemNumber}}
              </div>
              <div class="filter-input-row">
                {{data.productInfo[0].itemName}}
              </div>
              <div class="filter-input-row">
                {{data.productInfo[0].itemDescription}}
              </div>
              <div class="filter-input-row"> 
                {{data.productInfo[0].productGroup}}
              </div>
              <div class="filter-input-row">
                {{data.productInfo[0].salesPrice}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" class="btn btn-default" disabled="true">Ok</button>
          <button type="button" class="btn btn-default" disabled="true">More</button>
          <button type="button" class="btn btn-default" (click)="hide()"> Cancel </button>
          <button type="button" class="btn btn-default" (click)="hide()"> Close </button>
        </div>
      </div>
    </div>
  </div>
</div>