<!-- <div class="modal fade" id="itemLookupModal" tabindex="-1" role="dialog" aria-labelledby="itemLookupModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quick Item LookUp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div bsModal #childModalCust="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title pull-left">{{title}}</div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <ng-content select=".modal-body">
        </ng-content> -->
        <div class="filter-title">
          <div class="filter-input-text">
            Customer Number
          </div>
          <div class="filter-input-text">
            Customer Name
          </div>
          <div class="filter-input-text">
            Mobile No.
          </div>
          <div class="filter-input-text">
            Country
          </div>
          <div class="filter-input-text">
            Warehouse
          </div>
        </div>
        <div class="filter-input">
          <div class="filter-input-text">
            <input type="text" id="flt_customerNumber" class="input-box" name="flt_customerNumber">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_customerName" class="input-box" name="flt_customerName">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_mobileNo" class="input-box" name="flt_mobileNo">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_country" class="input-box" name="flt_country">
          </div>
          <div class="filter-input-text">
            <input type="text" id="flt_warehouse" class="input-box" name="flt_warehouse">
          </div>
        </div>

        <div class="tbl-item">
          <div class="tbl-header">
            <div class="filter-input-text">
              Customer Number
            </div>
            <div class="filter-input-text">
              Customer Name
            </div>
            <div class="filter-input-text">
              Mobile No.
            </div>
            <div class="filter-input-text">
              Country
            </div>
            <div class="filter-input-text">
              Warehouse
            </div>
          </div>
          <div class="tbl-row">
            <div class="row" *ngFor="let data of objItem">
              <div class="filter-input-row">
                {{data.customerInfo[0].customerNumber}}
              </div>
              <div class="filter-input-row">
                {{data.customerInfo[0].customerName}}
              </div>
              <div class="filter-input-row">
                {{data.customerInfo[0].mobileNo}}
              </div>
              <div class="filter-input-row"> 
                {{data.customerInfo[0].country}}
              </div>
              <div class="filter-input-row">
                {{data.customerInfo[0].warehouse}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" class="btn btn-default" disabled="true">Ok</button>
          <button type="button" class="btn btn-default" disabled="true">More</button>
          <button type="button" class="btn btn-default" (click)="hide()"> Cancel </button>
          <button type="button" class="btn btn-default" (click)="hide()"> Close </button>
        </div>
      </div>
    </div>
  </div>
</div>