<div class="header theme-color">
  <div class="container-fluid">
    <div class="row  ptb-5">
      <div class="col-md-1 col-sm-1 col-xs-6">
        <img src="assets/image/ETP-logo.png">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <h5 class="m-0">ETP Store V5.5</h5>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <h5 class="m-0 text-center">Multinational Retail Group</h5>
      </div>
      <div class="col-md-4 col-sm-6 text-right">
        <button class="online-btn">Online</button>
        <span>
          <i class="fa fa-minus"></i>
        </span>
        <span>
          <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
    <!--row-->
  </div>
</div>

<div class="wrapper">

  <!-- Sidebar Holder -->

  <nav id="sidebar">
    <div class="sidebar-header">
      <h5 class="mb-3">COUNTER: 1</h5>
      <h6>COUNTER: 1</h6>
    </div>

    <ul class="list-unstyled components">
      <li class="active row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/quick-billing.png">
            <h6>Quick Billing</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/detailed-billing.png">
            <h6>Detailed Billing</h6>
          </a>
        </div>


      </li>
      <li class="row">
        <div class="col-xs-6 left">
          <a href="#">
            <img src="assets/image/icon/cust-lookup.png">
            <h6>Cust Lookup</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/product-lookup.png">
            <h6>Product Lookup</h6>
          </a>
        </div>

      </li>
      <li class="row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/cust-creation.png">
            <h6>Cust Creation</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/free-item.png">
            <h6>Free Item</h6>
          </a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/hold.png">
            <h6>Hold</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/unhold.png">
            <h6>Unhold</h6>
          </a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/all-tender.png">
            <h6>All Tender</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/gift-voucher.png">
            <h6>Gift Voucher</h6>
          </a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/cash.png">
            <h6>Cash</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/credit-card.png">
            <h6>Credit Card</h6>
          </a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/cash-drawer.png">
            <h6>Cash Drawer</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/reprint.png">
            <h6>Print</h6>
          </a>
        </div>
      </li>
      <li class="row">
        <div class="col-xs-6 left">

          <a href="#">
            <img src="assets/image/icon/back.png">
            <h6>Back</h6>

          </a>
        </div>
        <div class="col-xs-6 right">
          <a href="#">
            <img src="assets/image/icon/cancel.png">
            <h6>Cancel</h6>
          </a>
        </div>
      </li>


      <li class="row">
        <a href="#">
        <a>
          <button type="button" id="sidebarCollapse" class="btn navbar-btn" (click)="sidebarCollapseClick()">
            <i class="glyphicon glyphicon-triangle-left"></i>

          </button>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <div style="width: 100%">
      <router-outlet></router-outlet>
    </div>

  </div>
  <!--content-->
</div>
<!--wrapper-->

<footer class="theme-color">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-6">
        <ul class="p-0 m-0">
          <li>
            <a href="#">
              <i class="fa fa-calculator"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/image/icon/keyboard.png">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/image/icon/setting.png">
            </a>
          </li>
          <li>
            <a href="#">
              <span class="shortcuts">Shortcuts</span>
            </a>
          </li>
          <li>
            <a href="#">Press 'F4' for Item List</a>
          </li>
        </ul>
      </div>


      <div class="col-md-6 col-sm-6 col-xs-6">
        <ul class="mt-4 m-0">
          <li>Premika</li>
          <li>US01_US CLUB RETAIL STORE-NEWYORK-MA</li>
          <li>
            <a href="#">22/10/2017</a>
          </li>
          <li>
            <a href="#">11:43:40</a>
          </li>
          <li class="ml-60">
            <a href="#">
              <img src="assets/image/icon/cart-icon.png" class="cart">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>