.tbl-header {
    /* float: left; */
    height: 55px;
}

.scroll-bar{
    overflow-x: auto;
}

.cursor-pointer{
    cursor: pointer;
}

.form-control-feedback-btn {
    background: #5C6BC0 !important;
    color: #fff;
    padding-top: 7px !important;
    font-size: 15px !important;
    width: 30px !important;
    height: 30px !important;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    text-align: center;    
}
.row-selected {
    background-color: #B9F6CA !important;
}

.h-300 {
    height: 296px !important;
    overflow-y: scroll !important;
    margin-bottom: 11px;
}
